@charset "utf-8";
/* CSS Document */

.flag, .unflag {
	border:none;
	background-color:transparent;
	float:left;
}
.flag {
	background-image:url(images/flag.gif);
	background-repeat:no-repeat;
	width:30px;
	height:40px;
}

.unflag {
	background-image:url(images/waving-flag.gif);
	background-repeat:no-repeat;
	width:30px;
	height:40px;
}

.flagText {
	float:left;
}

.flag-arya {
	display:inline;
	float:left;
}

.flag-button-text, .unflag-button-text {
	display:none;
}

.unflagText-left, .flagText-left {
	background:url(images/text-side.png);
	width:12px;
	height:30px;
	float:left;
}
.unflagText-right, .flagText-right {
	background:url(images/text-side.png);
	background-repeat:no-repeat;
	background-position:-15px;
	height:30px;
	width:6px;
	float:left;
}
.unflagText-text, .flagText-text {
	display:inline-block;
	background-image:url(images/text-center.png);
	background-repeat:repeat-x;
	height:30px;
	background-position:center top;
	float:left;
}
.flag-arya-top{
	float:right;
}